{% extends 'base.html.twig' %} {% block content %}

<div class="container d-flex flex-column align-items-center mt-5">
  <h1>About US Section</h1>
  <P>our companys' history</P>
</div>

<footer class="fixed-bottom">
  <hr />
  {% include 'footer.html.twig' %}
</footer>
{% endblock %}
