{% extends 'base.html.twig' %} {% block content %}
<div class="container d-flex flex-column align-items-center mt-5">
  <h1>Security Test Page</h1>
  <P>Testing Git HUB</P>
</div>
<footer class="fixed-bottom">
  <hr />
  {% include 'footer.html.twig' %}
</footer>
{% endblock %}
