{% extends 'base.html.twig' %} {% block content %}

<div class="container d-flex flex-column align-items-center mt-5">
  <h1>Career Opportunities</h1>
  <P>Please contact us for open job positions.</P>
</div>
<footer class="fixed-bottom">
  <hr />
  {% include 'footer.html.twig' %}
</footer>
{% endblock %}
